@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  background-image: url("/assets/img/masterhead.png");
  background-position: 35%;
  background-size: cover;
  min-height: 50vh;
  position: relative;
}

.logo__take {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 10%;
  height: auto;
}

.heading__block {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.heading__block .heading__title, .heading__block .heading__paragraph {
  color: #fff;
  font-weight: normal;
  font-size: 2.1rem;
}

.heading__block .heading__paragraph {
  display: none;
}

.iphone__image {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 40%;
  height: auto;
}

.text--vertical {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 531px) {
  .iphone__image {
    top: 50%;
  }
  .logo__take {
    width: 10%;
  }
}

@media (min-width: 681px) {
  .iphone__image {
    top: 35%;
  }
  .logo__take {
    width: 5%;
  }
}

@media (min-width: 761px) {
  .iphone__image {
    width: 45%;
    height: auto;
    top: 30%;
  }
}

.sectionOne__title, .green .green__title {
  margin-top: 3rem;
  font-weight: 300;
  text-align: center;
}

.sectionOne__paragraph {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sectionOne__paragraph .paragraph__start, .sectionOne__paragraph .paragraph__start--wide {
  margin: 0.5em;
  line-height: 1.5em;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes .box__element {
  color: #fff;
  height: auto;
  padding: 1em;
  background-repeat: no-repeat;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.boxes .box__element .box__paragraph, .boxes .box__element .box__title, .boxes .box__element .box__link {
  padding: 0.9rem;
  font-size: 0.9rem;
}

.boxes .box__element .box__title {
  font-size: 2rem;
}

.boxes .box__element .box__link {
  text-decoration: none;
  color: white;
}

.boxes .box__element .box__link .arrow {
  margin-left: 1em;
}

.boxes .box__element:nth-child(1) {
  background-color: #f5989d;
}

.boxes .box__element:nth-child(2) {
  background-color: #615F7D;
}

.boxes .box__element:nth-child(3) {
  background-image: url("/assets/img/layer6.png");
  background-size: cover;
  background-position: center;
}

.boxes .box__element:nth-child(4) {
  background-color: #BD8CBF;
}

.boxes .box__element:nth-child(5) {
  background-image: url("/assets/img/Layer5.png");
}

.boxes .box__element:nth-child(6) {
  background-color: #82ca9c;
}

.boxes .box__element:nth-child(7) {
  background-image: url("/assets/img/Layer14.png");
}

.text__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.column__item {
  padding: 1.5rem;
}

.column__item .column__title {
  font-weight: bold;
  margin-bottom: 1em;
}

.column__item .column__paragraph {
  line-height: 1.5em;
}

.text--horizontal {
  background-color: black;
}

.text--horizontal .img__horizontal {
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0 auto;
}

.banner {
  background-image: url("/assets/img/Layer8.png");
  height: 70vh;
  background-position: top right;
  background-size: cover;
}

.banner .banner__item {
  position: relative;
  top: 40%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner__item .banner__text, .banner .banner__item .banner__title, .banner .banner__item .banner__link {
  width: 90%;
  color: #fff;
  font-weight: 300;
  font-size: 0.8em;
  padding-right: 2em;
  margin: 0.5em auto;
}

.banner .banner__item .banner__title {
  font-size: 2.5rem;
  padding: 0;
}

.banner .banner__item .banner__link {
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9em;
}

.banner .banner__item .banner__link .arrow {
  padding-left: 1em;
}

.green {
  padding: 2em 0;
  background-color: #82ca9c;
  color: #fff;
  min-height: 50vh;
}

.green .green__title {
  text-align: center;
  margin-top: 0;
  padding: 1em;
}

.green .green__columns {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green .green__column {
  height: 30%;
  width: 90%;
  padding: 1em;
}

.green .green__column .column_green__title {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 1rem;
}

.buying {
  padding: 2rem;
  background-color: #f6f7fa;
  min-height: 50vh;
}

.buying .buying__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buying .buying__container .buying__boxes, .buying .buying__container .buying__boxes--shadow {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.buying .buying__container .buying__boxes .buying__title, .buying .buying__container .buying__boxes--shadow .buying__title, .buying .buying__container .buying__boxes .buying__text, .buying .buying__container .buying__boxes--shadow .buying__text, .buying .buying__container .buying__boxes .buying__button, .buying .buying__container .buying__boxes--shadow .buying__button, .buying .buying__container .buying__boxes .buying__icons, .buying .buying__container .buying__boxes--shadow .buying__icons {
  margin-top: 1rem;
}

.buying .buying__container .buying__boxes .buying__text, .buying .buying__container .buying__boxes--shadow .buying__text {
  font-size: 0.8rem;
}

.buying .buying__container .buying__boxes .buying__button, .buying .buying__container .buying__boxes--shadow .buying__button {
  width: 50%;
  padding: 1em 1.5em;
  color: #fff;
  background-color: #82ca9c;
  border: 1px solid #fff;
  border-radius: 5px;
}

.buying .buying__container .buying__boxes--shadow {
  -webkit-box-shadow: 0 0 10px #aaa;
          box-shadow: 0 0 10px #aaa;
}

@media (min-width: 761px) {
  .paragraph__start {
    width: 45%;
  }
  .paragraph__start--wide {
    width: 100%;
    padding-right: 50%;
  }
}

.footer {
  background-color: #192431;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */