@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width: 761px) {
  .container {
    max-width: 1280px;
  }
}

header {
  background-image: url("/assets/img/masterhead.png");
  background-position: 35%;
  background-size: cover;
  min-height: 50vh;
  position: relative;
}

.logo__take {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 10%;
  max-width: 60px;
  height: auto;
}

.heading__block {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.heading__block .heading__title {
  color: #fff;
  font-weight: normal;
  font-size: 2.1rem;
}

.heading__block .heading__paragraph {
  display: none;
}

.iphone__image {
  position: absolute;
  top: 65%;
  left: 55%;
  width: 40%;
  min-width: 150px;
  max-width: 450px;
  height: auto;
}

.text--vertical {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionOne__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sectionOne__title {
  width: 100%;
  margin-top: 3rem;
  font-weight: 300;
  text-align: left;
  margin-left: 0.5rem;
  color: #615F7D;
}

.sectionOne__paragraph {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #959595;
}

.sectionOne__paragraph .paragraph__start, .sectionOne__paragraph .paragraph__start--wide {
  margin: 0.5em;
  line-height: 2em;
}

.sectionOne {
  position: relative;
}

.sectionOne .sectionOne__text--absolute {
  position: absolute;
  top: 86%;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #b8b8b8;
  display: none;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes .box__element {
  max-width: 100%;
  min-height: 278px;
  color: #fff;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
}

.boxes .box__element .box-element__text {
  position: relative;
  left: 10%;
  margin-top: 2rem;
  width: 80%;
  height: 70%;
}

.boxes .box__element .box-element__text .box__paragraph {
  margin: 1.5rem 0;
  line-height: 1.4rem;
  font-weight: 300;
  min-height: 50%;
}

.boxes .box__element .box-element__text .box__title {
  font-size: 1.5rem;
  font-weight: 300;
}

.boxes .box__element .box-element__text .box__link {
  padding-right: 4rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 1em 0;
}

.boxes .box__element .box-element__text .box__link .arrow {
  margin-left: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.boxes .box__element .box-element__text .box__link .fa-heart {
  position: absolute;
  left: 90%;
}

.boxes .box__element:nth-child(1) {
  background-color: #f5989d;
}

.boxes .box__element:nth-child(2) {
  background-color: #615F7D;
}

.boxes .box__element:nth-child(3) {
  background-image: url("/assets/img/box1.png");
  background-size: cover;
  background-position: 0 0;
}

.boxes .box__element:nth-child(4) {
  background-color: #BD8CBF;
}

.boxes .box__element:nth-child(5) {
  background-image: url("/assets/img/Layer5.png");
}

.boxes .box__element:nth-child(6) {
  background-color: #82ca9c;
}

.boxes .box__element:nth-child(7) {
  background-image: url("/assets/img/Clip.png");
}

.sectionOne__title--center {
  margin-top: 3rem;
  font-weight: 300;
  text-align: center;
}

.text__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem 0;
}

.column__item {
  padding: 0.5rem;
}

.column__item .column__title {
  font-weight: 600;
  margin-bottom: 1em;
  color: #615F7D;
}

.column__item .column__paragraph {
  line-height: 1.5em;
  color: #959595;
}

.banner {
  background-image: url("/assets/img/Layer8.png");
  height: 80vh;
  background-position: center;
  background-size: cover;
}

.banner .banner__item {
  position: relative;
  top: 40%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner__item .banner__text, .banner .banner__item .banner__title, .banner .banner__item .banner__link {
  width: 90%;
  color: #fff;
  font-weight: 300;
  font-size: 0.8em;
  padding-right: 2em;
  margin: 0.5rem auto;
  line-height: 1.6em;
}

.banner .banner__item .banner__title {
  font-size: 2.5rem;
  padding: 0;
  line-height: 1em;
}

.banner .banner__item .banner__link {
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9em;
}

.banner .banner__item .banner__link .arrow {
  padding-left: 1em;
}

.green {
  position: relative;
  padding-top: 2em;
  background-color: #82ca9c;
  color: #fff;
  min-height: 40vh;
}

.green .green__text--absolute {
  position: absolute;
  top: 28%;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #fff;
  display: none;
}

.green .green__title {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 1rem;
}

.green .green__columns {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.green .green__columns .green__column {
  width: 90%;
  padding: 1em;
}

.green .green__columns .green__column .column_green__title {
  font-weight: 600;
  margin-bottom: 1em;
  font-size: 1rem;
}

.green .green__columns .green__column .column_green__text {
  line-height: 1.5em;
  font-size: 0.8rem;
}

.buying {
  background-color: #f6f7fa;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.buying .buying__text--absolute {
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #b8b8b8;
  display: none;
}

.buying .buying__container {
  margin: 1rem auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buying .buying__container .buying__boxes, .buying .buying__container .buying__boxes--shadow {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.buying .buying__container .buying__boxes .buying__banner, .buying .buying__container .buying__boxes--shadow .buying__banner, .buying .buying__container .buying__boxes .buying__banner--color, .buying .buying__container .buying__boxes--shadow .buying__banner--color {
  text-transform: uppercase;
  background-color: #e1e1e1;
  color: #fff;
  width: 20%;
  padding: 0.3em 0;
  font-size: 0.75rem;
  text-align: center;
  border-radius: 5px;
}

.buying .buying__container .buying__boxes .buying__banner--color, .buying .buying__container .buying__boxes--shadow .buying__banner--color {
  background-color: #bd8cbf;
  width: 50%;
  padding: 0.3em 0.5em;
}

.buying .buying__container .buying__boxes .buying__title, .buying .buying__container .buying__boxes--shadow .buying__title, .buying .buying__container .buying__boxes .buying__text, .buying .buying__container .buying__boxes--shadow .buying__text, .buying .buying__container .buying__boxes .buying__button, .buying .buying__container .buying__boxes--shadow .buying__button, .buying .buying__container .buying__boxes .buying__icons, .buying .buying__container .buying__boxes--shadow .buying__icons {
  margin-top: 1rem;
  width: 90%;
}

.buying .buying__container .buying__boxes .buying__title, .buying .buying__container .buying__boxes--shadow .buying__title {
  font-size: 1.5rem;
  color: #615F7D;
}

.buying .buying__container .buying__boxes .buying__text, .buying .buying__container .buying__boxes--shadow .buying__text {
  font-size: 0.8rem;
  color: #959595;
}

.buying .buying__container .buying__boxes .buying__button, .buying .buying__container .buying__boxes--shadow .buying__button {
  max-width: 200px;
  padding: 1em 1.5em;
  color: #fff;
  background-color: #82ca9c;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: bold;
}

.buying .buying__container .buying__boxes .buying__icons, .buying .buying__container .buying__boxes--shadow .buying__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buying .buying__container .buying__boxes .buying__icons .icon__element, .buying .buying__container .buying__boxes--shadow .buying__icons .icon__element {
  padding-right: 1em;
}

.buying .buying__container .buying__boxes--shadow {
  -webkit-box-shadow: 0 0 20px #aaa;
          box-shadow: 0 0 20px #aaa;
}

.footer {
  background-color: #192431;
  color: #fff;
  padding: 2rem;
}

.footer__container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__container .footer__box, .footer__container .footer__box--column {
  width: 50%;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__container .footer__box .footer_box__title, .footer__container .footer__box--column .footer_box__title {
  margin-bottom: 1em;
  font-weight: 600;
}

.footer__container .footer__box .footer_box__text, .footer__container .footer__box--column .footer_box__text {
  font-size: 0.75em;
}

.footer__container .footer__box .input__text, .footer__container .footer__box--column .input__text {
  margin-top: 0.5em;
  font-size: 0.75em;
  color: #b8b8b8;
}

.footer__container .footer__box .input, .footer__container .footer__box--column .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__container .footer__box .input .input__element, .footer__container .footer__box--column .input .input__element {
  width: 80%;
  min-width: 200px;
  padding: 0.75em;
  border: none;
}

.footer__container .footer__box .input .input__element:focus, .footer__container .footer__box--column .input .input__element:focus {
  outline: none;
}

.footer__container .footer__box .input .input__send, .footer__container .footer__box--column .input .input__send {
  width: 10%;
  min-width: 50px;
  border: none;
  background-color: #82ca9c;
}

.footer__container .footer__box .input .input__send svg, .footer__container .footer__box--column .input .input__send svg {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.footer__container .footer__box--column .site__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__container .footer__box--column .site__map .site__map_title {
  margin: 1em 0;
  width: 100%;
  font-weight: 600;
}

.footer__container .footer__box--column .site__map .site__map_link {
  width: 40%;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  text-align: left;
  margin-bottom: 1em;
}

@media (min-width: 761px) {
  .container {
    max-width: 1000px;
  }
  .iphone__image {
    left: 50%;
    top: 30%;
  }
  .logo__take {
    left: 15%;
  }
  .heading__block {
    left: 15%;
  }
  .heading__block .heading__paragraph {
    display: block;
    font-size: 0.8em;
    width: 40%;
    margin-top: 0.5em;
    color: #fff;
  }
  .text--vertical {
    left: 3%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sectionOne__item {
    width: 80%;
    margin: 3rem auto;
  }
  .sectionOne__item .sectionOne__paragraph .paragraph__start {
    width: 45%;
    font-size: 0.8rem;
  }
  .sectionOne__item .sectionOne__paragraph .paragraph__start--wide {
    padding-right: 50%;
    font-size: 0.8rem;
  }
  .sectionOne .sectionOne__text--absolute {
    top: 84%;
    display: block;
  }
  .boxes {
    width: 80%;
    margin: 1rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .boxes .box__element {
    width: 50%;
    height: 250px;
  }
  .boxes .box__element .box__title {
    font-size: 1.5rem;
  }
  .boxes .box__element .box__paragraph, .boxes .box__element .box__link {
    font-size: 0.8rem;
  }
  .boxes .box__element:nth-child(5) {
    width: 100%;
  }
  .text__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .text__column .column__item {
    width: 50%;
  }
  .banner__item {
    top: 50%;
    width: 80%;
    margin: 0 auto;
  }
  .green .green__text--absolute {
    display: block;
  }
  .green .green__title {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    font-weight: 300;
  }
  .green .green__columns {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .green .green__columns .green__column {
    width: 30%;
  }
  .buying .buying__text--absolute {
    display: block;
  }
  .buying__boxes, .buying .buying__container .buying__boxes--shadow,
  .buying__boxes--shadow {
    width: 40%;
    min-height: 300px;
  }
  .buying__boxes .buying__banner--color, .buying .buying__container .buying__boxes--shadow .buying__banner--color {
    width: 40%;
  }
  .footer__container {
    width: 80%;
    margin: 0 auto;
  }
  .footer__container .footer__box, .footer__container .footer__box--column {
    width: 80%;
    margin: 1em auto;
  }
}

@media (min-width: 1281px) {
  .container {
    max-width: 1500px;
  }
  .iphone__image {
    left: 50%;
    top: 10%;
  }
  .heading__block .heading__title {
    font-size: 4rem;
  }
  .heading__block .heading__paragraph {
    font-size: 1em;
  }
  .sectionOne__item {
    margin: 3rem auto;
  }
  .sectionOne__title {
    font-size: 2rem;
  }
  .sectionOne .sectionOne__text--absolute {
    top: 85%;
    display: block;
  }
  .boxes {
    width: 90%;
    margin-left: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .boxes .box__element {
    width: 25%;
    height: 250px;
  }
  .boxes .box__element .box__title {
    font-size: 1.5rem;
  }
  .boxes .box__element:nth-child(5) {
    width: 50%;
  }
  .text__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .text__column .column__item {
    width: 25%;
  }
  .text__column .column__item .column__paragraph {
    font-size: 0.8em;
  }
  .banner .banner__item {
    top: 35%;
    left: 5%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .banner .banner__item .banner__text, .banner .banner__item .banner__title, .banner .banner__item .banner__link {
    width: 50%;
    margin: 0.5em 0;
  }
  .banner .banner__item .banner__title {
    font-size: 3rem;
  }
  .green {
    margin: auto;
  }
  .green .green__title {
    width: 80%;
    padding: 1rem;
    margin: auto;
  }
  .green .green__columns {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .green .green__columns .green__column {
    width: 50%;
  }
  .buying .buying__container {
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .buying .buying__container .buying__boxes, .buying .buying__container .buying__boxes--shadow,
  .buying .buying__container .buying__boxes--shadow {
    width: 45%;
  }
  .buying .buying__container .buying__boxes .buying__banner--color, .buying .buying__container .buying__boxes--shadow .buying__banner--color {
    width: 30%;
  }
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__container .footer__box, .footer__container .footer__box--column {
    width: 50%;
  }
  .footer__container .footer__box--column {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__container .footer__box--column .site__map {
    width: 33%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container .footer__box--column .site__map .site__map_link {
    width: 100%;
    margin-bottom: 0.5em;
  }
}
/*# sourceMappingURL=index.css.map */