.footer{
  background-color:#192431;
  color: #fff;
  padding: 2rem;
}
.footer__container{
  padding: 0;
  display: flex;
  flex-direction: column;
  .footer__box{
    width: 50%;
    margin: 1em;
    // display: flex;
    display: flex;
    flex-direction: column;
    .footer_box__title{
      margin-bottom: 1em;
    }
    .footer_box__text{
      font-size: 0.75em;
    }
    .input__text{
      margin-top: 0.5em;
      font-size: 0.75em;
    }
    .input{
      display: flex;
      justify-content: flex-start;
      .input__element{
        width: 80%;
        padding: 0.75em;
        border: none;
      }
      .input__send{
        width: 20%;
        border: none;
        padding: 0.75em;
        background-color:#82ca9c;
      }
    } 
        
  }
  .footer__box--column{
    @extend .footer__box;
    .site__map{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      .site__map_title{
        margin: 1em 0;
        width: 100%;
      }
      .site__map_link{
        width: 40%;
        text-decoration: none;
        color: #fff;
        font-size: 0.8em;
        text-align: left;
        margin-bottom: 1em;
      }
    }
  }
  
}