@media (min-width: 761px) {
  .container {
    max-width: 1000px;
  }
  .iphone__image {
    left: 50%;
    top: 30%;
  }
  .logo__take {
    left: 15%;
  }
  .heading__block {
    left: 15%;
    .heading__paragraph {
      display: block;
      font-size: 0.8em;
      width: 40%;
      margin-top: 0.5em;
      color: #fff;
    }
  }
  .text--vertical {
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
  }
  .sectionOne__item {
    width: 80%;
    margin: 3rem auto;
    .sectionOne__paragraph {
      .paragraph__start {
        width: 45%;
        font-size: 1em;
      }
      .paragraph__start--wide {
        padding-right: 50%;
        font-size: 1em;
      }
    }
  }
  .sectionOne{
    .sectionOne__text--absolute{
      top: 84%;
      display: block;
    }
  }

  .boxes {
    width: 80%;
    margin: 1rem auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .box__element {
      width: 50%;
      height: 250px;
      .box__title {
        font-size: 1.5rem;
      }
    }
    .box__element:nth-child(5) {
      width: 100%;
    }
  }
  .text__column {
    flex-direction: row;
    flex-wrap: wrap;
    .column__item {
      width: 50%;
    }
  }
  // text--horizontal ;

  .banner__item {
    top: 50%;
    width: 80%;
    margin: 0 auto;
  }
  .green {
    .green__text--absolute{
      display: block;
    }
    .green__title {
      width: 80%;
      padding: 1rem;
      margin: 0 auto;
    }
    .green__columns {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;

      .green__column {
        width: 30%;
      }
    }
  }
  .buying{
    .buying__text--absolute{
      display: block;
    }
  }
  .buying__boxes,
  .buying__boxes--shadow {
    width: 40%;
    min-height: 300px;
  }
  .buying__boxes{
    .buying__banner--color{
      width: 40%;
    }
  }
  .footer__container {
    width: 80%;
    margin: 0 auto;
    .footer__box {
      width: 80%;
      margin: 1em auto;
    }
  }
}

// Desktop screen

@media (min-width: 1281px) {
  .container {
    max-width: 1500px;
  }
  .iphone__image {
    left: 50%;
    top: 10%;
  }
  .heading__block {
    .heading__title {
      font-size: 4rem;
    }
    .heading__paragraph {
      font-size: 1em;
    }
  }
  .sectionOne__item {
    margin: 3rem auto;
  }
  .sectionOne__title {
    font-size: 2rem;
  }
  .sectionOne{
    .sectionOne__text--absolute{
      top: 86%;
      display: block;
    }
  }
  .boxes {
    width: 90%;
    margin-left: 10%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .box__element {
      width: 25%;
      height: 250px;
      .box__title {
        font-size: 1.5rem;
      }
    }
    .box__element:nth-child(5) {
      width: 50%;
    }
  }
  .text__column {
    flex-direction: row;
    flex-wrap: wrap;
    .column__item {
      width: 25%;
      .column__paragraph {
        font-size: 0.8em;
      }
    }
  }
  .banner {
    .banner__item {
      top: 35%;
      left: 5%;
      align-items: flex-start;
      .banner__text {
        width: 50%;
        margin: 0.5em 0;
      }
      .banner__title {
        font-size: 3rem;
      }
    }
  }
  .green {
    margin: auto;
    .green__title {
      width: 80%;
      padding: 1rem;
      margin: auto;
    }
    .green__columns {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .green__column {
        width: 50%;
      }
    }
  }
  .buying {
    .buying__container {
      width: 80%;
      justify-content: space-around;
      .buying__boxes,
      .buying__boxes--shadow {
        width: 45%;
      }
      .buying__boxes{
        .buying__banner--color{
          width: 30%;
        }
      }
    }
  }
  .footer__container{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .footer__box{
      width: 50%;
    }
    .footer__box--column{
      margin: 0;
      flex-direction: row;
      .site__map{
        width: 33%;
        flex-direction: column;
        .site__map_link{
          width: 100%;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

