// Flex

@mixin flex ($direction, $justifyContent){
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
}

@mixin absolute ($top, $left: 0){
  position: absolute;
  top: $top;
  left: $left;
}