$font-color-base: #fff;
$font-color-medium: #959595;
$font-color-dark: #615f7d;

$color-green: #82ca9c;
$font-bold: bold;
$font-semibold: 600;
$font-light: 300;

$font-size-small: 0.8rem;
$font-size-medium: 1.5rem;

$line-height-standard: 1.5em;